<launch>
  <arg name="usb_port"                default="/dev/ttyUSB0"/>
  <arg name="dxl_baud_rate"           default="57600"/>
  <arg name="namespace"               default="dynamixel_workbench"/>
  <arg name="use_moveit"              default="false"/>
  <arg name="use_joint_state"         default="true"/>
  <arg name="use_cmd_vel"             default="false"/>
  
  <include file="$(find dynamixel_workbench_controllers)/launch/dynamixel_controllers.launch"/>
  <param name="dynamixel_info" value="$(find robosoft)/config/gripper.yaml"/>
  
  <!-- Flex sensor node -->

</launch>
